.jumbotron.masthead
  .container
    h1 Tysensus
    p Website of developer & writer, L8D.
      br
      | Using Serif fonts like a boss.
.container-fluid
  br
  .row-fluid
    .span2.offset1
      ul.nav.nav-tabs.nav-stacked
        li
          a(href='//github.com/L8D')
            |  L8D
            .pull-right
              i.icon-github
        li
          a(href='//twitter.com/TenorB')
            |  TenorB
            .pull-right
              i.icon-twitter
        li
          a(href='//github.com/L8D/delvs') 
            |  Delvs
            .pull-right
              i.icon-code-fork
        li
          a(href='//github.com/L8D/tysens.us')
            |  Tysensus
            .pull-right
              i.icon-code-fork
    .span8
      .tabable
        ul.nav.nav-tabs
          - each post in site.posts
            - if(post.title == active_post)
              li.active
                a(data-toggle="tab", href="##{post.location}")= post.title
            - else
              li
                a(data-toggle="tab", href="##{post.location}")= post.title
        .tab-content
          - each post in site.posts
            - if(post.title == active_post)
              .tab-pane.active(id="#{post.location}")
                != post.content
            - else
              .tab-pane(id="#{post.location}")
                != post.content
