!!!
html(lang="en")
  head
    meta(charset='utf8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Website of developer & writer, L8D.')
    meta(name='author', content= "L8D")

    title Tysensus
    
    //link(rel='stylesheet', href='css/master.css')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/docs.css')
  body(data-spy='scroll', data-target='.bs-docs-sidebar')
    include _navbar
    include _windows

    != yield

    //- add other scripts through require.js, not here
    script(data-main="js/main", src="js/require.js")

    //- this must be included for live reload to work in developement
    //- it will be automatically ignored when deployed
    != livereload
