section#simple-math
  .page-header
    h1 Simple Mathematics
  p.
    If you want a more in-depth look at how the multiplication of ten worked in the hello world program,
    then here it is:
  pre.prettyprint.linenums
    ||----10-----| x |----10-----|   +   |-4--|+|1|= 105
    |  +++++ +++++ [ > +++++ +++++ < - ] > ++++ . + .
