---
title: Welcome
date: 6-7-2013
location: welcome
---
h3 Welcome to Tysensus
p
  | Here at Tysensus, developer L8D uses the power of georgia and bootstrap to make an awesome website.
  | And to use it as a cool thingy muh-bobber.
